@font-face {
    font-family: Pixel;
    src: url("../fonts/pixcyr2.ttf");
}
* {
    font-family: Pixel, sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background: url("../assets/background.jpg") repeat;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#pause.screen, #login.screen, #signup.screen {
    background-color: rgba(0, 0, 0, 0.5);
}
.window {
    width: 300px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
.window > h1 {
    margin: 20px auto;
}
.window > .row {
    margin: 10px -15px;
}
#main-menu .btn {
    width: 100%;
    margin: 10px auto;
}
.btn {
    border-radius: 0;
    border: 1px solid transparent;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
}
.btn[disabled], .btn[disabled]:hover {
    opacity: .65;
}
.btn[disabled] {
    cursor: auto;
}
.btn-icon {
    width: 90px;
    height: 90px;
    background: no-repeat center;
    background-size: 50%;
}
.btn-success, .btn-success:hover, .btn-success:active, .btn-success:active:hover, .btn-success:focus {
    border-color: #DEB887;
}
.btn-success {
    background-color: #F5DEB3;
}
.btn-success:hover {
    background-color: #E1CA9F;
}
.btn-success:active, .btn-success:active:hover, .btn-success:focus {
    background-color: #CDB68B;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:active:hover, .btn-primary:focus {
    border-color: #4169E1;
}
.btn-primary {
    background-color: #6495ED;
}
.btn-primary:hover {
    background-color: #4682B4;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:active:hover {
    background-color: #326EA0;
}
.btn-primary[disabled], .btn-primary[disabled]:hover {
    background-color: #77b6db;
    border-color: #689ebf;
}
