# Windows #

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp

*.lnk

*.rar
*.zip

# Intellij #

*.iml

.idea/

.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

*.ipr
*.iws

/out/

.idea_modules/

atlassian-ide-plugin.xml

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties


# NotepadPP #

*.bak


# Eclipse #

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

.project

*.launch

.classpath

.buildpath
